<!DOCTYPE html>
<html>
<head>
</head>
<body style="font-family: Roboto, Arial, Helvetica, sans-serif;">
  <div style="align-content: center; width: 414px; margin: 0 auto;">
  <div class="nav" style="text-align: center;align-items: center;">
    <img style="width: 97px;height: 95px;" alt="logo" src="https://howsmyflattening.ca/assets/img/scorecard/HMF_Logo_Website.png">
    <h1 style="margin-bottom: 0px;font-size: 27px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.19;letter-spacing: 0.62px;color: #275d6f;">How's My Flattening?</h1>
    <h5 style="margin-top: 0px; font-size: 21px;color: #275d6f;font-weight: normal;">Ontario's COVID-19 Warning System</h5>
  </div>
  <div style="text-align: center;margin: 0 auto;">
    <p style="width: 362px; font-size: 16px;color: #275d6f; margin: 0 auto;background-color: #e7edef;padding: 10px;">Most recently on {{ ontario["Date"] }}, Ontario reported {{ ontario["New positives"] | int}} new cases of COVID-19 and {{ ontario["New deaths"] | int}} new deaths. There are currently {{ ontario["Hospitalized"] | int}} COVID-19 cases in hospital and {{ ontario["ICU"] | int}} in the ICU. </p><br>
    <p style="width: 362px; font-size: 16px;color: #275d6f; margin: 0 auto; background-color: #daf1ea;padding: 10px;">Yesterday, {{ vaccine["previous_day_total_doses_administered"] | int}} vaccine doses were administered bringing the total up to {{ vaccine["total_doses_administered"] | int}}. This is {{ '%0.2f' %  vaccine["percentage_completed"] |float }}% of the eligible population of Ontario.</p><br>
    <img alt="Indicator Graph" src={{'https://storage.googleapis.com/covid-data-analytics-hub.appspot.com/6_' + max_date + '.jpeg'}} width="374"><br>
    <p style="margin: 0 auto;font-size: 23px;font-weight: normal;color: #275d6f;width: 284px;text-align: center;">Below is your personalized COVID-19 report</p><br>
    {% if alerts | length > 0  %}
    <p style="width: 362px; font-size: 16px;color: #275d6f; margin: 0 auto;"><b>{{alerts["message"]}}</b></p><br>
    {% endif %}
    <hr>
    {% if regions_changed |length > 0  %}
    <div style="text-align: center;margin: 0 auto;">
      <p style="width: 362px; font-size: 16px;color: #275d6f; margin: 0 auto;">Changes In Community Risk Level For:</p><br>
        {% for region in regions_changed %}
        <p style="width: 362px; font-size: 16px;color: #275d6f; margin: 0 auto;">{{region['phu']}}<br>{{region['prev']}} to {{region['risk']}}</p><br>
        {% endfor %}
    </div>
    <hr>
    {% endif %}
    {% for region in regions %}
      {% if region["rolling_pop"] >= 10  %}
        <table style="width: 414px;text-align: center;background-color: #d94718;padding: 20px; margin-top:20px;" >
          <tr>
            <td colspan="3" style="text-align: center;height:35px;padding: 10px;color: white;"><b><a style="color:white;" href={{"https://howsmyflattening.ca/#/summary/" ~ region["HR_UID"] }}>{{ region["phu"] }}<a></b></td>
          </tr>
          <tr>
            <td colspan="3" class="red" style="text-align: center;height: 31px;padding: 10px;background-color: #d94718;color: white;">Community Risk Level: High</td>
          </tr>
          <tr>
            <td colspan="3"><img alt="Indicator Graph" src={{'https://storage.googleapis.com/covid-data-analytics-hub.appspot.com/' + region['HR_UID']|string + '_' + max_date + '.jpeg'}} width="374"></td>
          </tr>
          <tr>
            <th style="font-size: 12px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #275d6f;color: white;width: 66%;">Case Incidence (Per 100,000 People)</th>
            <td style="font-size: 16px;border: solid 2px #ffffff;width: 27%;background-color: #e4e4e4;text-align: center;height: 31px;padding: 10px;">{{ '%0.1f' %  region["rolling_pop"] |float }}</td>
            <td style="font-size: 18px;border: solid 2px #ffffff;width: 7%;background-color: #275d6f;text-align: center;height: 31px;padding: 10px;color:white">{% if region["rolling_pop_trend"] > 0 %} &#8593; {% else %} &darr; {% endif %}</td>
          </td>
          <tr>
            <th style="font-size: 12px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #275d6f;color: white;width: 257px;">Rt</th>
            <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #b6b6b6;text-align: center;height: 31px;padding: 10px;">{{ '%0.2f' % region["rt_ml"] |float}}</td>
            <td style="font-size: 18px;border: solid 2px #ffffff;width: 36px;background-color: #275d6f;text-align: center;height: 31px;padding: 10px;color:white">{% if region["rt_ml_trend"] > 0 %} &#8593; {% else %} &darr; {% endif %}</td>
          </tr>
          <tr>
            <th style="font-size: 12px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #275d6f;color: white;width: 257px;">% of Tests Back in Less than 24 hrs</th>
            <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #e4e4e4;text-align: center;height: 31px;padding: 10px;">{{ region["rolling_test_twenty_four"] |int }}</td>
            <td style="font-size: 18px;border: solid 2px #ffffff;width: 36px;background-color: #275d6f;text-align: center;height: 31px;padding: 10px;color:white">{% if region["rolling_test_twenty_four_trend"] > 0 %} &#8593; {% else %} &darr; {% endif %}</td>
          </tr>
          <tr>
            <th style="font-size: 12px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #275d6f;color: white;width: 257px;">Percent Positivity</th>
            <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #b6b6b6;text-align: center;height: 31px;padding: 10px;">{{ '%0.1f' % region["percent_positive"]|float  }}</td>
            <td style="font-size: 18px;border: solid 2px #ffffff;width: 36px;background-color: #275d6f;text-align: center;height: 31px;padding: 10px;color:white">{% if region["percent_positive_trend"] > 0 %} &#8593; {% else %} &darr; {% endif %}</td>
          </tr>
          <tr>
            <th style="font-size: 12px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #275d6f;color: white;width: 257px;">Total ICU Occupancy</th>
            <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #e4e4e4;text-align: center;height: 31px;padding: 10px;">{{ region["critical_care_pct"] |int }}%</td>
            <td style="font-size: 18px;border: solid 2px #ffffff;width: 36px;background-color: #275d6f;text-align: center;height: 31px;padding: 10px;color:white">{% if region["critical_care_pct_trend"] > 0 %} &#8593; {% else %} &darr; {% endif %}</td>
          </tr>
          <tr>
            <th style="font-size: 12px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #275d6f;color: white;width: 257px;">Covid ICU Occupancy</th>
            <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #e4e4e4;text-align: center;height: 31px;padding: 10px;">{{ region["covid_pct"] |int }}%</td>
            <td style="font-size: 18px;border: solid 2px #ffffff;width: 36px;background-color: #275d6f;text-align: center;height: 31px;padding: 10px;color:white">&nbsp;</td>
          </tr>
        </table>
      {% elif region["rolling_pop"] >= 5 %}
        <table style="width: 414px;text-align: center;background-color: #f28e24;padding: 20px;margin-top:20px;" >
          <tr>
            <td colspan="3" style="text-align: center;height:35px;padding: 10px;color: white;"><b><a style="color:white;" href={{"https://howsmyflattening.ca/#/summary/" ~ region["HR_UID"] }}>{{ region["phu"] }}<a></b></td>
          </tr>
          <tr>
              <td colspan="3" class="orange" style="text-align: center;height: 31px;padding: 10px;background-color: #f28e24;color: white;">Community Risk Level: Medium</td>
          </tr>
          <tr>
            <td colspan="3"><img alt="Indicator Graph" src={{'https://storage.googleapis.com/covid-data-analytics-hub.appspot.com/' + region['HR_UID']|string + '_' + max_date + '.jpeg'}} width="374"></td>
          </tr>
          <tr>
            <th style="font-size: 12px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #275d6f;color: white;width: 66%;">Case Incidence (Per 100,000 People)</th>
            <td style="font-size: 16px;border: solid 2px #ffffff;width: 27%;background-color: #e4e4e4;text-align: center;height: 31px;padding: 10px;">{{ '%0.1f' %  region["rolling_pop"] |float }}</td>
            <td style="font-size: 18px;border: solid 2px #ffffff;width: 7%;background-color: #275d6f;text-align: center;height: 31px;padding: 10px;color:white">{% if region["rolling_pop_trend"] > 0 %} &#8593; {% else %} &darr; {% endif %}</td>
          </td>
          <tr>
            <th style="font-size: 12px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #275d6f;color: white;width: 257px;">Rt</th>
            <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #b6b6b6;text-align: center;height: 31px;padding: 10px;">{{ '%0.2f' % region["rt_ml"] |float}}</td>
            <td style="font-size: 18px;border: solid 2px #ffffff;width: 36px;background-color: #275d6f;text-align: center;height: 31px;padding: 10px;color:white">{% if region["rt_ml_trend"] > 0 %} &#8593; {% else %} &darr; {% endif %}</td>
          </tr>
          <tr>
            <th style="font-size: 12px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #275d6f;color: white;width: 257px;">% of Tests Back in Less than 24 hrs</th>
            <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #e4e4e4;text-align: center;height: 31px;padding: 10px;">{{ region["rolling_test_twenty_four"] |int }}</td>
            <td style="font-size: 18px;border: solid 2px #ffffff;width: 36px;background-color: #275d6f;text-align: center;height: 31px;padding: 10px;color:white">{% if region["rolling_test_twenty_four_trend"] > 0 %} &#8593; {% else %} &darr; {% endif %}</td>
          </tr>
          <tr>
            <th style="font-size: 12px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #275d6f;color: white;width: 257px;">Percent Positivity</th>
            <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #b6b6b6;text-align: center;height: 31px;padding: 10px;">{{ '%0.1f' % region["percent_positive"]|float  }}</td>
            <td style="font-size: 18px;border: solid 2px #ffffff;width: 36px;background-color: #275d6f;text-align: center;height: 31px;padding: 10px;color:white">{% if region["percent_positive_trend"] > 0 %} &#8593; {% else %} &darr; {% endif %}</td>
          </tr>
          <tr>
            <th style="font-size: 12px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #275d6f;color: white;width: 257px;">Total ICU Occupancy</th>
            <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #e4e4e4;text-align: center;height: 31px;padding: 10px;">{{ region["critical_care_pct"] |int }}%</td>
            <td style="font-size: 18px;border: solid 2px #ffffff;width: 36px;background-color: #275d6f;text-align: center;height: 31px;padding: 10px;color:white">{% if region["critical_care_pct_trend"] > 0 %} &#8593; {% else %} &darr; {% endif %}</td>
          </tr>
          <tr>
            <th style="font-size: 12px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #275d6f;color: white;width: 257px;">Covid ICU Occupancy</th>
            <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #e4e4e4;text-align: center;height: 31px;padding: 10px;">{{ region["covid_pct"] |int }}%</td>
            <td style="font-size: 18px;border: solid 2px #ffffff;width: 36px;background-color: #275d6f;text-align: center;height: 31px;padding: 10px;color:white">&nbsp;</td>
          </tr>
        </table>
      {% elif region["rolling_pop"] >= 1 %}
        <table style="width: 414px;text-align: center;background-color: #f2bb2b;padding: 20px;margin-top:20px;" >
          <tr>
            <td colspan="3" style="text-align: center;height:35px;padding: 10px;color: white;"><b><a style="color:white;" href={{"https://howsmyflattening.ca/#/summary/" ~ region["HR_UID"] }}>{{ region["phu"] }}<a></b></td>
          </tr>
          <tr>
            <td colspan="3" class="yellow" style="text-align: center;height: 31px;padding: 10px;background-color: #f2bb2b;color: white;">Community Risk Level: Low</td>
          </tr>
          <tr>
            <td colspan="3"><img alt="Indicator Graph" src={{'https://storage.googleapis.com/covid-data-analytics-hub.appspot.com/' + region['HR_UID']|string + '_' + max_date + '.jpeg'}} width="374"></td>
          </tr>
          <tr>
            <th style="font-size: 12px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #275d6f;color: white;width: 66%;">Case Incidence (Per 100,000 People)</th>
            <td style="font-size: 16px;border: solid 2px #ffffff;width: 27%;background-color: #e4e4e4;text-align: center;height: 31px;padding: 10px;">{{ '%0.1f' %  region["rolling_pop"] |float }}</td>
            <td style="font-size: 18px;border: solid 2px #ffffff;width: 7%;background-color: #275d6f;text-align: center;height: 31px;padding: 10px;color:white">{% if region["rolling_pop_trend"] > 0 %} &#8593; {% else %} &darr; {% endif %}</td>
          </td>
          <tr>
            <th style="font-size: 12px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #275d6f;color: white;width: 257px;">Rt</th>
            <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #b6b6b6;text-align: center;height: 31px;padding: 10px;">{{ '%0.2f' % region["rt_ml"] |float}}</td>
            <td style="font-size: 18px;border: solid 2px #ffffff;width: 36px;background-color: #275d6f;text-align: center;height: 31px;padding: 10px;color:white">{% if region["rt_ml_trend"] > 0 %} &#8593; {% else %} &darr; {% endif %}</td>
          </tr>
          <tr>
            <th style="font-size: 12px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #275d6f;color: white;width: 257px;">% of Tests Back in Less than 24 hrs</th>
            <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #e4e4e4;text-align: center;height: 31px;padding: 10px;">{{ region["rolling_test_twenty_four"] |int }}</td>
            <td style="font-size: 18px;border: solid 2px #ffffff;width: 36px;background-color: #275d6f;text-align: center;height: 31px;padding: 10px;color:white">{% if region["rolling_test_twenty_four_trend"] > 0 %} &#8593; {% else %} &darr; {% endif %}</td>
          </tr>
          <tr>
            <th style="font-size: 12px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #275d6f;color: white;width: 257px;">Percent Positivity</th>
            <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #b6b6b6;text-align: center;height: 31px;padding: 10px;">{{ '%0.1f' % region["percent_positive"]|float  }}</td>
            <td style="font-size: 18px;border: solid 2px #ffffff;width: 36px;background-color: #275d6f;text-align: center;height: 31px;padding: 10px;color:white">{% if region["percent_positive_trend"] > 0 %} &#8593; {% else %} &darr; {% endif %}</td>
          </tr>
          <tr>
            <th style="font-size: 12px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #275d6f;color: white;width: 257px;">Total ICU Occupancy</th>
            <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #e4e4e4;text-align: center;height: 31px;padding: 10px;">{{ region["critical_care_pct"] |int }}%</td>
            <td style="font-size: 18px;border: solid 2px #ffffff;width: 36px;background-color: #275d6f;text-align: center;height: 31px;padding: 10px;color:white">{% if region["critical_care_pct_trend"] > 0 %} &#8593; {% else %} &darr; {% endif %}</td>
          </tr>
          <tr>
            <th style="font-size: 12px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #275d6f;color: white;width: 257px;">Covid ICU Occupancy</th>
            <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #e4e4e4;text-align: center;height: 31px;padding: 10px;">{{ region["covid_pct"] |int }}%</td>
            <td style="font-size: 18px;border: solid 2px #ffffff;width: 36px;background-color: #275d6f;text-align: center;height: 31px;padding: 10px;color:white">&nbsp;</td>
          </tr>
        </table>
      {% else %}
        <table style="width: 414px;text-align: center;background-color: #18a77b;padding: 20px;margin-top:20px;" >
          <tr>
            <td colspan="3" style="text-align: center;height:35px;padding: 10px;color: white;"><b><a style="color:white;" href={{"https://howsmyflattening.ca/#/summary/" ~ region["HR_UID"] }}>{{ region["phu"] }}<a></b></td>
          </tr>
          <tr>
            <td colspan="3" class="green" style="text-align: center;height: 31px;padding: 10px;background-color: #18a77b;color: white;">Community Risk Level: Very Low</td>
          </tr>
          <tr>
            <td colspan="3"><img alt="Indicator Graph" src={{'https://storage.googleapis.com/covid-data-analytics-hub.appspot.com/' + region['HR_UID']|string + '_' + max_date + '.jpeg'}} width="374"></td>
          </tr>
          <tr>
            <th style="font-size: 12px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #275d6f;color: white;width: 66%;">Case Incidence (Per 100,000 People)</th>
            <td style="font-size: 16px;border: solid 2px #ffffff;width: 27%;background-color: #e4e4e4;text-align: center;height: 31px;padding: 10px;">{{ '%0.1f' %  region["rolling_pop"] |float }}</td>
            <td style="font-size: 18px;border: solid 2px #ffffff;width: 7%;background-color: #275d6f;text-align: center;height: 31px;padding: 10px;color:white">{% if region["rolling_pop_trend"] > 0 %} &#8593; {% else %} &darr; {% endif %}</td>
          </td>
          <tr>
            <th style="font-size: 12px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #275d6f;color: white;width: 257px;">Rt</th>
            <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #b6b6b6;text-align: center;height: 31px;padding: 10px;">{{ '%0.2f' % region["rt_ml"] |float}}</td>
            <td style="font-size: 18px;border: solid 2px #ffffff;width: 36px;background-color: #275d6f;text-align: center;height: 31px;padding: 10px;color:white">{% if region["rt_ml_trend"] > 0 %} &#8593; {% else %} &darr; {% endif %}</td>
          </tr>
          <tr>
            <th style="font-size: 12px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #275d6f;color: white;width: 257px;">% of Tests Back in Less than 24 hrs</th>
            <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #e4e4e4;text-align: center;height: 31px;padding: 10px;">{{ region["rolling_test_twenty_four"] |int }}</td>
            <td style="font-size: 18px;border: solid 2px #ffffff;width: 36px;background-color: #275d6f;text-align: center;height: 31px;padding: 10px;color:white">{% if region["rolling_test_twenty_four_trend"] > 0 %} &#8593; {% else %} &darr; {% endif %}</td>
          </tr>
          <tr>
            <th style="font-size: 12px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #275d6f;color: white;width: 257px;">Percent Positivity</th>
            <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #b6b6b6;text-align: center;height: 31px;padding: 10px;">{{ '%0.1f' % region["percent_positive"]|float  }}</td>
            <td style="font-size: 18px;border: solid 2px #ffffff;width: 36px;background-color: #275d6f;text-align: center;height: 31px;padding: 10px;color:white">{% if region["percent_positive_trend"] > 0 %} &#8593; {% else %} &darr; {% endif %}</td>
          </tr>
          <tr>
            <th style="font-size: 12px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #275d6f;color: white;width: 257px;">Total ICU Occupancy</th>
            <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #e4e4e4;text-align: center;height: 31px;padding: 10px;">{{ region["critical_care_pct"] |int }}%</td>
            <td style="font-size: 18px;border: solid 2px #ffffff;width: 36px;background-color: #275d6f;text-align: center;height: 31px;padding: 10px;color:white">{% if region["critical_care_pct_trend"] > 0 %} &#8593; {% else %} &darr; {% endif %}</td>
          </tr>
          <tr>
            <th style="font-size: 12px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #275d6f;color: white;width: 257px;">Covid ICU Occupancy</th>
            <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #e4e4e4;text-align: center;height: 31px;padding: 10px;">{{ region["covid_pct"] |int }}%</td>
            <td style="font-size: 18px;border: solid 2px #ffffff;width: 36px;background-color: #275d6f;text-align: center;height: 31px;padding: 10px;color:white">&nbsp;</td>
          </tr>
        </table>
    {% endif %}
    {% endfor %}
    <table style="width: 414px;text-align: center; margin-top:10px;">
      <tr>
        <th style="font-size: 16px;border: solid 2px #ffffff;text-align: center;padding: 10px;width: 257px;color: black;">Metric We Measured</th>
        <th style="font-size: 12px;border: solid 2px #ffffff;text-align: center;padding: 10px;width: 257px;color: black;">Data Last Updated</th>
      </tr>
      <tr>
        <th style="font-size: 16px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #e4e4e4;color: white;width: 257px;color: #275d6f;">Case Incidence (Per 100,000 People)</th>
        <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #a0bec7;text-align: center;height: 41px;padding: 10px;color: #275d6f;">{{ date["rolling_pop"][0] }}</td>
      </tr>
      <tr>
        <th style="font-size: 16px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #e4e4e4;color: white;width: 257px;color: #275d6f;">Rt</th>
        <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #a0bec7;text-align: center;height: 41px;padding: 10px;color: #275d6f;">{{ date["rt_ml"][0] }}</td>
      </tr>
      <tr>
        <th style="font-size: 16px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #e4e4e4;color: white;width: 257px;color: #275d6f;">% of Tests Back in Less than 24 hrs</th>
        <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #a0bec7;text-align: center;height: 41px;padding: 10px;color: #275d6f;">{{ date["rolling_test_twenty_four"][0]  }}</td>
      </tr>
      <tr>
        <th style="font-size: 16px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #e4e4e4;color: white;width: 257px;color: #275d6f;">Percent Positivity</th>
        <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #a0bec7;text-align: center;height: 41px;padding: 10px;color: #275d6f;">{{ date["percent_positive"][0] }}</td>
      </tr>
      <tr>
        <th style="font-size: 16px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #e4e4e4;color: white;width: 257px;color: #275d6f;">Total ICU Occupancy</th>
        <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #a0bec7;text-align: center;height: 41px;padding: 10px;color: #275d6f;">{{ date["critical_care_pct"][0] }}</td>
      </tr>
      <tr>
        <th style="font-size: 16px;border: solid 2px #ffffff;text-align: center;padding: 10px;background-color: #e4e4e4;color: white;width: 257px;color: #275d6f;">Covid ICU Occupancy</th>
        <td style="font-size: 16px;border: solid 2px #ffffff;width: 110px;background-color: #a0bec7;text-align: center;height: 41px;padding: 10px;color: #275d6f;">{{ date["critical_care_pct"][0] }}</td>
      </tr>
    </table>
    <br>
    <p style="width: 362px; font-size: 16px;color: #275d6f;margin: 0 auto; "><b>A Note About When We Get The Data</b><br><br>Each of the metrics we track comes from a separate source that is updated at different intervals. We always use the most current data that is available to us.</p>
    <hr>
    <p style="width: 362px; font-size: 16px;color: #275d6f; margin: 0 auto;"><b>Why send it at 11am?</b><br><br>Great question! This report is made up of a few data sources that are handled by different organizations. Every day the updates are made around 10:30. 11 am gives the system time for any delays.</p>
    <hr>
    <p style="width: 362px; font-size: 16px;color: #275d6f; margin: 0 auto;"><b>Want to see different regions?</b><br><br>
        1. Visit <a style="color: #275d6f;" href="https://howsmyflattening.ca">Howsmyflattening.ca</a><br>
        2. Choose different regions on the site<br>
        3. Re-signup for a custom COVID-19 update<br><br>
    This will overwrite the current one you are being sent!
    </p>
    <hr>
    <p style="width: 362px; font-size: 16px;color: #275d6f;margin: 0 auto;"><b>Found a bug?</b><br><br>We try our best, but alas are only human! Please reach out if there is something that seems broken, or could work better.<br><br><a style="color: #275d6f;" href="mailto:incoming+howsmyflattening-www-howsmyflattening-ca-18957126-issue-@incoming.gitlab.com">Click here to tell us about it</a></p>
    <hr>
    <p style="width: 362px; font-size: 16px;color: #275d6f;margin: 0 auto;"><b>Share The Power Of Better Information!</b><br><br>Please help us spread the word by sharing the site with your family and friends.</p>
    <hr>
    <p style="width: 362px; font-size: 16px;color: #275d6f;margin: 0 auto;"><b>There Is No I In Team</b><br><br>You can be part of the great work that the HowsMyFlattening Team are up to by becoming a financial supporter. <br><br><a style="color: #275d6f;" href="http://thcf.convio.net/site/TR?px=1274438&fr_id=1080&pg=personal">Donate today</a></p>
    <hr>
    <p style="width: 362px; font-size: 16px;color: #275d6f;margin: 0 auto;"><b>Stop sending reports to this email address!</b><br><br>If you are only looking to change the report content, follow the instructions listed below  “Want To See Different Regions?”. Otherwise, <a style="color: #275d6f;" href={{"http://flatteningthecurve.herokuapp.com/api/mail/"+token}}>click here</a> to unsubscribe.</p>
  </div>
</div>
</body>
</html>
