<!DOCTYPE html>
<html>
<head>
</head>
<body style="font-family: Roboto, Arial, Helvetica, sans-serif;">
  <div style="align-content: center; width: 414px; margin: 0 auto;">
    <div class="nav" style="text-align: center;align-items: center;">
      <img style="width: 97px;height: 95px;" alt="logo" src="https://howsmyflattening.ca/assets/img/scorecard/HMF_Logo_Website.png">
      <h1 style="margin-bottom: 0px;font-size: 27px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.19;letter-spacing: 0.62px;color: #275d6f;">How's My Flattening?</h1>
      <h5 style="margin-top: 0px; font-size: 21px;color: #275d6f;font-weight: normal;">Your Data Is Out of Date</h5>
    </div>
    <div style="text-align: center;margin: 0 auto;">
      <p style="margin: 0 auto;font-size: 23px;font-weight: normal;color: #275d6f;width: 284px;text-align: center;">The following issues have been detected:</p><br>
      <ul>
      {% for issue in issues %}
      <li>{{ issue }}</li>
      {% endfor %}
      </ul>
    </div>
  </div>
</body>
</html>
